@keyframes astrobounce {

  0% {margin: 100px; }
  50% {margin-top: 140px; margin-left:105px; }
  100% {margin:100px; }
}

.rixlogo {
width: 120px;
min-height: 150px;
padding:0 20px 40px 0;
margin: 0 auto;

  background-image: url("../../images/rf_logo.svg");
  background-repeat: no-repeat;
  background-size: 110px;

}


.text-left {
  text-align: left;
}

#modal1
{
  visibility: none;
}


.bigger {

  font-size: 25px;
}

.astro {

  max-width: 325px;
  margin:100px;
  animation-name: astrobounce;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
